project_name: {{project_name}}
project_name_snakecase: {{ project_name | snakecase }}
project_name_kebabcase: {{ project_name | kebabcase }}
project_name_camelcase: {{ project_name | camelcase }}
project_name_pascalcase: {{ project_name | pascalcase }}
