# {{project_name}}

Project configurations:
- Slug: {{project_slug}}
- Class: {{class_name}}
- Table: {{table_name}}
- Constant: {{constant_name}}

Case conversions:
- camelCase: {{project_name|camel_case}}
- kebab-case: {{project_name|kebab_case}}
- PascalCase: {{project_name|pascal_case}}
- snake_case: {{project_name|snake_case}}
- Train-Case: {{project_name|train_case}}

Word transformations:
- Plural: {{project_name|lower|plural}}
- Singular: {{project_name|lower|singular}}
- Foreign key: {{project_name|foreign_key}}
